/* Ingredients.module.css */
.root {
  margin-bottom: 30px;
}
.group {
  margin-bottom: 16px;
}
.groupTitle {
  text-transform: capitalize;
  margin-bottom: 6px;
  font-size: 1.1rem;
  color: #235372;
}
.group ul {
  padding-left: 20px;
}
.group li {
  margin-bottom: 4px;
  line-height: 1.4;
}
