/* src/components/Features/Features.module.css */

.featuresContent {
  padding: 50px 0;
  border-left: 1px solid rgb(1, 89, 122);
  border-right: 1px solid rgb(1, 89, 122);
  border-bottom: 1px solid rgb(1, 89, 122);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 0 2px rgba(72, 219, 251, 0.4);
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1 1 calc(33.333% - 20px);
  text-align: center;
}

.image {
  height: auto;
  margin-bottom: 16px;
}

.item h3 {
  margin: 0 0 12px;
  font-size: 1.5rem;
  font-weight: 700;
}

.item p {
  margin: 0;
  line-height: 1.4;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .features {
    padding: 40px 0; /* Adjust padding for tablets */
  }

  .title {
    font-size: 2.5rem; /* Adjust title font size for tablets */
    margin-bottom: 30px; /* Adjust margin for tablets */
  }

  .item {
    flex: 1 1 calc(50% - 20px);
  }

  .item h3 {
    font-size: 1.3rem; /* Adjust h3 font size for tablets */
  }
}

@media (max-width: 480px) {
  .features {
    padding: 30px 0; /* Adjust padding for mobile */
  }

  .title {
    font-size: 2rem; /* Adjust title font size for mobile */
    margin-bottom: 20px; /* Adjust margin for mobile */
  }

  .item {
    flex: 1 1 100%;
  }

  .item h3 {
    font-size: 1.2rem; /* Adjust h3 font size for mobile */
  }
}
