/* src/components/Header/Header.module.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  background: var(--bacground-nav);
}
.logo {
  font-size: 1.5rem;
  color: #fff;
}
.nav a {
  margin-left: 16px;
  color: #eee;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.nav a:hover,
.nav a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.authBtn {
  background: #235372;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s;
  margin-left: 10px;
}

.authBtn:hover {
  background: #ffffff44;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
